body {
  position: relative;
  overflow-x: hidden;
  height: 10000px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border: 1px solid #006aff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #00AAF7, #004387);
  border-radius: 20px;
}