footer {
  width: 105vw;
  height: 50px;
  color: #fff;
  background-image: linear-gradient(to left, #00AAF7, #004387);
  position: fixed;
  bottom: 0;
  left: -9px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}